@charset "UTF-8";

/* em HTML é id = em CSS é #
em HTML é classe = em CSS é .  */
body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: darkgreen;
}

h1#principal {
    text-align: center;
    background-color: darkgreen;
    color: aliceblue;
}

h2{
    color: green;
}

.basico{
    color: rgb(2, 252, 15);
}

.intermediario{
    color: rgb(240, 253, 55);
}

.avancado{
    color: rgb(249, 18, 5);
}